body {
    padding-top: 40px;
}

#rotator {
    //background: #dddddd;
	background: #ffffff;
	// 90vh is 90% of viewer height: http://stackoverflow.com/a/16837667/2152245
    height:90vh;;
    overflow: hidden;
    cursor: pointer;
}

#rotator img {
    display: block;
    margin: 0;
}