{% extends 'base.html.twig' %}

{% block content %}
    <header class="page-header">
        <h1>Change blindness test</h1>
    </header>
    <p>Thank you for your participation.</p>
    <p><a href="index.php" class="btn btn-large btn-primary">Return to homepage &raquo;</a></p>
{% endblock %}